@import "css/apps/mail/pages/email-app.css";
@import "css/apps/keep/pages/keep-app.css";
@import "css/pages/home-page.css";
@import "css/cmps/app-header.css";
@import "css/apps/book/main.css";



*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
}

.main-container{
  width: 100%;
  margin: 0 auto;
}

.main-content{
  display: flex;
  width: 100%;
}
