@import "/css/apps/mail/pages/email-app.css";
@import "/css/apps/keep/pages/keep-app.css";
@import "/css/cmps/app-header.css";


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
}

.main-container{
  width: 100%;
  margin: 0 auto;
  /* background-color: rgb(244, 244, 244); */
}

.main-content{
  display: flex;
  width: 100%;
}
