@import "../cmps/email-compose.css";
@import "../cmps/email-list.css";
@import "../cmps/email-menu.css";
@import "../cmps/email-preview.css";
@import "../cmps/email-sent.css";
@import "../cmps/email-draftted.css";
@import "../cmps/email-starred.css";
@import "../cmps/email-filter.css";


/* MAIN APP */

.email-app{
    display: flex;
    height: 100vh;
    background-color: white;
    font-family: Helvetica,Arial,sans-serif;;
}


/* EVENT-BUS */

.bus-msg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 20%;
    background-color: rgb(244, 237, 237);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    display: none;
    transition: display .3s;
}


@media screen and (max-width:780px){
    .email-app{
        flex-direction: column;
    }
}
