@import "../cmps/email-compose.css";
@import "../cmps/email-list.css";
@import "../cmps/email-menu.css";
@import "../cmps/email-preview.css";
@import "../cmps/email-sent.css";
@import "../cmps/email-draftted.css";
@import "../cmps/email-starred.css";


/* MAIN APP */

.email-app{
    display: flex;
    height: 100vh;
    background-color: white;
}

