/* MAIN CONTENT LIST */

.main-content-list{
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
}

.list-items{
    width: 100%;
    list-style: none;
}

.list-item {
    padding: 0 2rem 0 1rem;
    display: flex;
    flex-direction: column;
}

.email-short{
    padding: 0 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    cursor: pointer;
}

.details-sent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-sent .title-sent{
    font-weight: 600;
    font-size: 1rem;
}

.details-sent .desc-sent{
    color: black;
}

.read{
    background-color: grey;
}