/* MAIN CONTENT LIST */

.main-content-list{
    margin: 4rem auto;
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    height: 75%;
    overflow: scroll;
}

.list-items{
    width: 100%;
    list-style: none;
}

.list-item {
    padding: 0 2rem 0 1rem;
    display: flex;
    flex-direction: column;
}

.email-short:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);;
}

.email-short{
    padding: 0 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    cursor: pointer;
    height: 2.5rem;
    align-items: center;
    font-size: 0.9rem;
    transition: box-shadow .4s;
}

.details-sent{
    width: 10rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.details-sent .title-sent{
    font-weight: 600;
    font-size: 1rem;
}

.details-sent .desc-sent{
    color: black;
}

.name-sent{
    width: 4rem;
    text-align: left;
}

.read{
    background-color: #F2F5F5CC;
}

.open{
    background-color: #cbcbcbcc;
}

.bold{
    font-family: bold;
}

@media screen and (max-width:780px){
    .main-content-list{
        width: 100%;
    }
    .list-items{
        padding: 0;
    }
}