/* COMPOSE */

.email-compose{
    position: absolute;
    top: 17%;
    left: 20%;
    background-color: white;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.email-compose header{
    background-color: rgb(77, 77, 77);
    color: blanchedalmond;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
}

.email-compose .exit-btn{
    background-color: rgb(77, 77, 77);
    border: none;
    color: wheat;
    cursor: pointer;
}

.email-compose .email-inputs{
    height: 20%;
    display: flex;
    flex-direction: column;
}

.email-inputs input[name="email-to"] , .email-inputs input[name="email-title"]{
    flex: 1;
    border: none;
    border-bottom: 1px solid lightgray;
}

.email-compose .email-text{
    height: 60%;
}

.email-text textarea{
   width: 100%;
   height: 100%;
   border: none;
   border-bottom: 1px solid lightgray;
}

.email-btn{
   height: 10%;
   padding: 3px 0.8rem ;
   display: flex;
   justify-content: space-between;
}

.email-btn .send-btn{
    width: 10%;
    background-color: rgb(67, 110, 186);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.email-btn .remove-btn{
    background-color: white;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}