.keep-list-container{
  display: flex;
  flex-direction: column;
  order: -1;
  flex-basis: 90%;
  height: 100vh;
}

.new-note-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-inline-start: 11%;
}

.notes-types-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

.note-input{
  width: 40%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  outline: none;
  margin: 10px auto;
}

.note-input:focus{
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 60%);
}

.note-input-title{
  width: 60%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  outline: none;
  margin: 10px auto;
}

.note-input-title:focus{
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 60%);
}

.notes-types{
  display: flex;
  width: 60%;
  font-size: 24px;
  margin-right: 20px;
  justify-content: space-between;
  background-color: white;
}

.notes-types .type{
  padding-left: 7px;
  transition: transform 0.3s,color 0.3s;
  color: rgba(0, 0, 0, 0.577);
}

.notes-types .type:hover{
  transform: scale(1.1);
  color: black
}

.title-input{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: flex-end;
}

.note-sound{
  border-left: 2px solid black ;
  padding-left: 3px;
}

.type{
  cursor: pointer;
}

.todos-inputs.container{
  display: flex;
  flex-direction: column;
}
