.keep-app-header{
  padding: 20px;
  width: 90%;
  margin-inline-start: 38px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  align-items: center;
}

.keep-app-header .input-search{
  width: 40%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  outline: none;
  margin: 10px auto;
  transition: box-shadow 0.3s;
}
.keep-app-header .input-search:focus{
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 60%);
}

@media (max-width : 830px ){
  .keep-app-header .input-search{
    width: 80%;
  }
  .keep-app-header{
    margin-inline-start: 13px;
  }
}
