.keep-list-content{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.keep-list{
  list-style-type: none;
}

.keep-note-list{
  width: 33%;
  height: 40%;
}

.note{
  background-color: lightgreen;
  width: 33%;
  height: 200px;
  text-align: center;
}
