@import '../cmps/helpers.css';
@import '../cmps/keep-header.css';
@import '../cmps/keep-new-commit.css';
@import '../cmps/list.css';
@import '../cmps/note-audio.css';
@import '../cmps/note-img.css';
@import '../cmps/note-map.css';
@import '../cmps/note-todos.css';
@import '../cmps/note-text.css';
@import '../cmps/note-video.css';
@import '../cmps/note-preview.css';
@import '../cmps/keep-filter.css';

*{
  font-family: 'Quicksand', sans-serif;
}

.keep-app{
  width: 100%;
  height: 100vh;
}

.main-content{
  display: flex;
  width: 100%;
}

.note-input-title{
    width: 50%;
    height: 31px;
    text-align: center;
}

button{
  cursor: pointer;
}
